.comments {
  width: 100%;
  margin: 0;
  padding: 63px 20px 121px;
  overflow: hidden;

  @include vp-1199 {
    padding: 48px 45px 124px;
  }

  @include vp-767 {
    padding: 30px 15px 66px;
  }
}

.comments__inner {
  display: grid;
  gap: 38px;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  @include vp-1199 {
    overflow: visible;
  }

  @include vp-767 {
    grid-template-columns: auto auto;
    gap: 28px;
    width: 100%;
  }
}

.comments__inner h2 {
  margin: 0 0 8px 2px;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    margin: 0 0 3px 0;
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.comments__slider {
  width: 1240px;

  @media (max-width: 1279px) {
    width: 1160px;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    grid-column: 1 / 3;
    justify-self: center;
    width: 290px;
    overflow: hidden;
  }
}

.comments__control {
  display: flex;
  align-items: center;
  gap: 52px;
  margin: 0;
  padding: 0;

  @include vp-767 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: end;
  }
}

.comments__scroll {
  width: 100%;
  height: 2px;
  background: rgba($color-cerulean-blue, 0.2);

  @include vp-767 {
    display: none;
  }
}

.comments__button-box {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
