.faq {
  width: 100%;
  margin: 0;
  padding: 73px 45px 61px;

  @include vp-1199 {
    padding: 59px 45px 50px;
  }

  @include vp-767 {
    padding: 30px 15px 40px;
  }
}

.faq h2 {
  width: fit-content;
  margin: 0 auto 67px;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    font-size: 34px;
    margin-bottom: 41px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 20px;
  }
}

.faq__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1028px;
  margin: 0 auto;
  padding: 0;

  @include vp-1199 {
    width: 100%;
  }
}

.faq__inner-item {
  margin: 0;
  padding: 0;
}

.faq__inner-item-button {
  margin: 0;
  padding: 39px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  cursor: pointer;

  @include vp-1199 {
    padding: 29px 29px 29px;
  }

  @include vp-767 {
    padding: 20px 14px 18px;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background: $color-default-white;

    .faq__inner-item-icon-wrapper {
      background: $color-default-white;
    }

    .faq__inner-item-button-icon {
      stroke: $color-cerulean-blue;
    }
  }

  &:active:not(:disabled) {
    color: $color-endeavour;
    border: 1px solid $color-endeavour;

    .faq__inner-item-icon-wrapper {
      background: $color-endeavour;
    }

    .faq__inner-item-button-icon {
      stroke: $color-default-white;
    }
  }

  .faq__inner-item-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    background: $color-cerulean-blue;
    border-radius: 50%;
    border: 1px solid $color-cerulean-blue;
  }

  .faq__inner-item-button-icon {
    margin: 0;
    padding: 0;
  }

  .faq__inner-item-button-icon:first-child {
    stroke: $color-default-white;
  }

  .faq__inner-item-button-icon:last-child {
    stroke: $color-cerulean-blue;
    display: none;
  }
}

.faq__inner-item-button.active {
  padding: 39px 39px 32px;
  color: $color-default-white;
  background: $color-cerulean-blue;

  @include vp-1199 {
    padding: 29px 29px 25px;
  }

  @include vp-767 {
    padding: 20px 14px 14px;
  }

  .faq__inner-item-icon-wrapper {
    background: $color-default-white;
    border: 1px solid $color-default-white;
  }

  .faq__inner-item-button-icon:first-child {
    display: none;
  }

  .faq__inner-item-button-icon:last-child {
    display: inline;
  }

  .faq__inner-item-button-icon {
    stroke: $color-cerulean-blue;
  }

  p {
    color: $color-alabaster;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $color-default-white;
    background: $color-cerulean-blue;

    .faq__inner-item-icon-wrapper {
      background: $color-cerulean-blue;
      border: 1px solid $color-default-white;
    }

    .faq__inner-item-button-icon {
      stroke: $color-default-white;
    }
  }

  &:active:not(:disabled) {
    background: $color-endeavour;

    .faq__inner-item-icon-wrapper {
      background: $color-default-white;
    }

    .faq__inner-item-button-icon {
      stroke: $color-endeavour;
    }
  }
}

.faq__inner-item:nth-child(n+4) .faq__inner-item-button {
  padding: 32px 39px;

  @include vp-1199 {
    padding: 23px 29px 25px;
  }

  @include vp-767 {
    padding: 20px 14px 18px;
  }
}

.faq__inner-item-header {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 610px auto;
  align-items: center;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    grid-template-columns: 80% auto;
  }
}

.faq__inner-item-header-inner-title {
  margin: 0;
  padding: 0;
}

.faq__inner-item-header-inner-title h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.faq__inner-item-footer p {
  margin: 13px 250px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    margin: 16px 93px 0 0;
    line-height: 20px;
  }

  @include vp-767 {
    margin: 14px 0 0;
    font-size: 14px;
  }
}
