.navigation-list {
  display: none;
  width: fit-content;
  min-width: 286px;
  margin: 0;
  padding: 0;
  background: $color-cerulean-blue;
  border-radius: 16px;
  list-style: none;
  height: 0;
}

.is-open .navigation-list {
  position: absolute;
  top: 88px;
  right: 50%;
  transform: translateX(620px);
  display: block;
  height: auto;
  padding: 29px 25px 13px;
  transition: all 0.3s;

  @media (max-width: 1279px) {
    right: 20px;
    transform: none;
  }

  @include vp-1199 {
    right: 45px;
  }

  @include vp-767 {
    top: 78px;
    right: 15px;
    width: 290px;
  }
}

.navigation-list__item {
  margin: 0 0 16px;
  padding: 0;
}

.navigation-list__item.is-active {
  margin-bottom: 11px;
}

.navigation-list__item-link {
  margin: 0;
  padding: 0;
  color: rgba($color-default-white, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $color-default-white;
    outline: none;

    svg {
      stroke: $color-default-white;
    }
  }
}

.navigation-list__item-link-icon {
  margin: 0 0 0 8px;
  padding: 0;
  stroke: rgba($color-default-white, 0.6);
}

.navigation-list__item-link-icon:last-child {
  display: none;
}

.is-active {
  .navigation-list__item-link-icon:first-child {
    display: none;
  }

  .navigation-list__item-link-icon:last-child {
    display: inline;
  }
}

.navigation-list__sublist {
  display: none;
  margin: 0;
  padding: 9px 0 0;
  list-style: none;
}

.navigation-list__sublist.sublist-active {
  display: block;
}

.navigation-list__sublist-item {
  margin: 0 0 4px;
  padding: 0 0 0 16px;
}

.navigation-list__sublist-item-link {
  margin: 0;
  padding: 0;
  color: rgba($color-default-white, 0.6);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $color-default-white;
    outline: none;

    svg {
      stroke: $color-default-white;
    }
  }
}
