.news-slide {
  width: 286px;
  min-height: 400px;
  border-radius: 12px;
}

.news-slide:first-child {
  width: 604px;
}

.news-slide--1 {
  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}
