.news {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  color: $color-cerulean-blue;
  background: transparent;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    //padding: 0 15px;
    padding: 0;
  }
}

.news__inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 124px 0 50px;
  text-align: center;

  @include vp-1199 {
    padding: 99px 0 40px;
  }

  @include vp-767 {
    padding: 69px 0 40px;
  }
}

.news__inner h2 {
  margin: 0 0 46px;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    margin-bottom: 31px;
    font-size: 34px;
  }

  @include vp-767 {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }
}

.news__box-button-category {
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
  padding: 0;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-left: 15px;
    margin-bottom: 23px;
  }
}

.news__box-inner-button-category {
  display: flex;
  column-gap: 29px;
  row-gap: 10px;
  flex-wrap: wrap;
  max-width: 810px;

  @include vp-1199 {
    column-gap: 8px;
    flex-wrap: nowrap;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include vp-767 {
    gap: 12px;
  }
}

.news__button-category {
  margin: 0;
  padding: 11px 25px;
  color: rgba($color-cerulean-blue, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  user-select: none;

  @include vp-1199 {
    padding: 11px 20px;
  }

  @include vp-767 {
    padding: 8px 13px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    outline: none;
  }

  &:hover:not(:disabled):not(.news__button-category--current),
  &:focus-visible:not(:disabled):not(.news__button-category--current) {
    color: rgba($color-cerulean-blue, 1);
    cursor: pointer;
  }
}

.news__button-category--current {
  border: 1px solid $color-cerulean-blue;
}

.news__slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 40px;

  @media (max-width: 1279px) {
    width: 1160px;
  }

  @include vp-1199 {
    width: 678px;
    height: 730px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    width: 290px;
    height: 600px;
    margin-bottom: 13px;
  }
}

.news__slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  @include vp-767 {
    padding: 0 15px;
  }
}
