.news-slide {
  width: 286px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;

  @media (max-width: 1279px) {
    width: 284px;
  }

  @include vp-1199 {
    height: calc((100% - 30px) / 2);
  }

  @include vp-767 {
    width: auto;
    height: auto;
    position: relative;
  }
}

.news-slide:first-child {
  width: 604px;

  .news-slide__inner-footer {
    margin-right: 229px;
  }

  .news-slide__inner-middle {
    margin-right: 327px;
    padding: 12px 5px 13px 11px;
  }

  @media (max-width: 1279px) {
    width: 576px;

    .news-slide__inner-footer {
      margin-right: 201px;
    }

    .news-slide__inner-middle {
      margin-right: 299px;
      padding-top: 3px;
    }
  }

  @include vp-1199 {
    .news-slide__inner-footer {
      margin: 0 75px -14px 0;
    }

    .news-slide__inner-middle {
      margin: 0 107px -10px 0;
    }
  }

  @include vp-767 {
    .news-slide__inner-footer {
      margin: 0 51px -14px 0;
    }

    .news-slide__inner-middle {
      margin: 0 114px -10px 0;
      padding: 10px 5px 14px 11px;
    }
  }
}

.news-slide--1 {
  //order: -3;

  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    //order: 0;

    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--2 {
  //order: -2;

  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    //order: 0;

    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--3 {
  //order: -1;

  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    //order: 0;

    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--4 {

  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-4/news-4-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-4/news-4-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {


    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-4/news-4-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-4/news-4-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--5 {
  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-1/news-1-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--6 {
  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-2/news-2-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide--7 {
  background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-desktop.webp") 50% 50% / cover no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-desktop@2x.webp") 50% 50% / cover no-repeat;
  }

  @include vp-1199 {
    background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-tablet.webp") 50% 50% / cover no-repeat;

    @media (min-resolution: $retina-dppx) {
      background: rgba($color-cerulean-blue, 0.5) url("./../../img/news/news-3/news-3-tablet@2x.webp") 50% 50% / cover no-repeat;
    }
  }
}

.news-slide__inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 104%;
  min-height: 400px;
  margin: 0 0 0 -10px;

  @include vp-1199 {
    width: 324px;
    min-height: 350px;
  }
}

.news-slide:nth-child(odd) .news-slide__inner {
  @include vp-767 {
    min-height: 330px;
    //min-height: auto;
    //height: 330px;
  }
}

.news-slide:nth-child(even) .news-slide__inner {
  @include vp-767 {
    min-height: 240px;
    //min-height: auto;
    //height: 240px;
  }
}

.news-slide__inner-header {
  margin: 0 207px -10px 0;
  padding: 3px 12px 10px 10px;
  background: $color-alabaster;
  border-radius: 12px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -16px;
    width: 16px;
    height: 16px;
    background: url("./../../img/svg/radius-news.svg") 50% 50% / 16px 16px no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    background: url("./../../img/svg/radius-news.svg") 50% 50% / 16px 16px no-repeat;
  }
}

.news-slide__inner-header span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.news-slide__inner-middle {
  display: flex;
  flex-direction: column;
  margin: 0 73px -10px 0;
  padding: 5px 5px 10px 11px;
  background: $color-alabaster;
  text-align: start;
  border-radius: 12px;
  position: relative;

  @include vp-1199 {
    margin: 0 107px -10px 0;
  }

  @include vp-767 {
    margin: 0 114px -10px 0;
    padding: 10px 5px 14px 11px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    background: url("./../../img/svg/radius-news.svg") 50% 50% / 16px 16px no-repeat;
  }
}

.news-slide__inner-middle span {
  margin: 0;
  padding: 0;
  color: $color-cerulean-blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.news-slide__inner-footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 11px;
  margin: 0 47px -10px 0;
  padding: 9px 18px 22px 10px;
  background: $color-alabaster;
  border-radius: 12px;
  text-align: start;
  position: relative;

  @include vp-1199 {
    margin: 0 75px -14px 0;
  }

  @include vp-767 {
    margin: 0 51px -14px 0;
    padding: 14px 10px 22px 10px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    background: url("./../../img/svg/radius-news.svg") 50% 50% / 16px 16px no-repeat;

    @include vp-1199 {
      bottom: 14px;
    }
  }
}

.news-slide__inner-footer-text {
  margin: 0;
  padding: 0;
}

.news-slide__inner-footer-text p {
  margin: 0;
  padding: 0;
  color: $color-charcoal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.news-slide__inner-footer-link {
  width: 30px;
  height: 30px;
  margin: 3px 0 0 0;

  @include vp-1199 {
    align-self: center;
    margin: 0;
  }
}
