.news {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    padding: 0 45px;
  }
}

.news__inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 124px 0 50px;
  text-align: center;
}

.news__inner h2 {
  margin: 0 0 46px;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.news__box-button-category {
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
  padding: 0;
}

.news__box-inner-button-category {
  display: flex;
  column-gap: 29px;
  row-gap: 10px;
}

.news__button-category {
  margin: 0;
  padding: 11px 25px;
  color: rgba($color-cerulean-blue, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover:not(:disabled):not(.news__button-category--current),
  &:focus-visible:not(:disabled):not(.news__button-category--current) {
    color: rgba($color-cerulean-blue, 1);
    cursor: pointer;
  }
}

.news__button-category--current {
  border: 1px solid $color-cerulean-blue;
}

.news__slider {
  width: 100%;
  overflow: hidden;
  margin: 0 0 40px;
}

.news__slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
