.programs {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.programs__inner {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 46px;
  column-gap: 52px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 31px 0 121px;
  overflow: hidden;

  @include vp-1199 {
    row-gap: 40px;
    overflow: visible;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding: 32px 0 67px;
    row-gap: 31px;
  }
}

.programs__inner h2 {
  margin: 4px 0 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    font-size: 34px;
    margin-top: 1px;
  }

  @include vp-767 {
    order: 1;
    width: fit-content;
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__inner .programs__link {
  justify-self: end;
  width: fit-content;
  background: transparent;

  @include vp-767 {
    grid-column: 1 / 3;
    order: 4;
    justify-self: start;
    gap: 30px;
    padding: 14px 68px 14px 30px;
  }
}

.programs__slider {
  min-width: 0;
  grid-column: 1 / 3;

  @include vp-1199 {
    width: 678px;
  }

  @include vp-767 {
    width: 100%;
    order: 3;
    overflow: hidden;
  }
}

.programs__control {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  margin: -7px 0 0;
  padding: 0;

  @include vp-1199 {
    margin-top: -1px;
  }

  @include vp-767 {
    order: 2;
    grid-column: auto;
    justify-self: end;
  }
}

.programs__scroll {
  height: 2px;
  width: 100%;
  background: rgba(49, 109, 194, 0.2);

  @include vp-767 {
    display: none;
  }
}

.programs__button-box {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
